APP_NAME=DIGITAL WALLET API
APP_VERSION=1.0.1
DEBUG=true
DATABASE_URL=postgresql+psycopg://db_user:password@localhost:0000/db_name
ACCESS_TOKEN_SECRET_KEY=random
REFRESH_TOKEN_SECRET_KEY=ramdom
ALGORITHM=random
MAILEROO_BASE_URL=random
MAILEROO_DOMAIN_EMAIL= random
MAILERRO_KEY=random