APP_NAME=DIGITAL WALLET API
APP_VERSION=1.0.1
DEBUG=true
DATABASE_URL=postgresql+psycopg://db_user:password@localhost:0000/db_name
TEST_DATABASE_URL=postgresql+psycopg://db_user:password@localhost:0000/db_name
ACCESS_TOKEN_SECRET_KEY=change-me
REFRESH_TOKEN_SECRET_KEY=change-me
TWO_FACTOR_SECRET_KEY=change-me
TWO_FACTOR_SALT=change-me
ALGORITHM=HS256
MAILEROO_BASE_URL=https://maileroo.com/
MAILEROO_DOMAIN_EMAIL=test@example.com
MAILERRO_KEY=test-maileroo-key
REDIS_URL=redis://localhost:6379/0
CORS_ORIGINS=["http://localhost:5173","http://127.0.0.1:5173"]